html,
body {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  scrollbar-width: thin; /* For Firefox */
}
body::-webkit-scrollbar {
  width: 8px; /* Change this to adjust the width */
}
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change this to the desired track color */
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 30px;
}

.btn {
  font-size: 1.2em;
  border-radius: 50px;
}
